backports.weakref==1.0rc1
bleach==1.5.0
cycler==0.10.0
enum34==1.1.6
html5lib==0.9999999
Markdown==2.6.10
matplotlib==2.1.1
numpy==1.13.3
pandas==0.20.3
protobuf==3.5.0.post1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.18.2
scipy==1.0.0
six==1.11.0
sklearn==0.0
-e git+git@github.com:JamesBrofos/Stein.git@f83b2dbfb04290df795606c4dd6210dea40bfd25#egg=stein
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.13
